@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
:after,
:before {
  box-sizing: border-box;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0;
}

p,
h2,
h3 {
  margin: 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 360px;
}

.skip-link {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  left: -9898px;
  text-indent: -9898px !important;
  display: block !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

a {
  color: #3093b1;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  a {
    transition: all 0.25s;
  }
  a:hover {
    text-decoration: underline;
    color: #1b6f89;
    transform: scale(1.035);
  }
}
a.social {
  display: block;
}
@media screen and (min-width: 1024px) {
  a.social {
    transition: all 0.25s;
  }
  a.social:hover {
    transform: scale(1.035);
  }
}
a.social svg,
a.social img {
  display: block;
  width: 24px;
  height: 24px;
}
a.buy-bnt {
  background: #3093b1;
  text-decoration: none;
  border-radius: 20px;
  height: 40px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  width: 240px;
  margin: 0 auto 24px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  a.buy-bnt:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.035);
    background-color: #1b6f89;
    box-shadow: -1px 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

p {
  padding: 0 0 24px;
}

ul,
ol {
  margin: 0;
  padding: 0 0 24px 32px;
}

h1,
h2,
h3 {
  padding: 0 0 24px;
  line-height: 110%;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  padding-bottom: 48px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
    padding-bottom: 24px;
  }
}
h1.prod-title {
  font-size: 48px;
}
@media screen and (max-width: 1024px) {
  h1.prod-title {
    font-size: 28px;
  }
}

h2 {
  font-size: 40px;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 28px;
    text-align: center;
  }
}
h2.price {
  font-size: 32px;
  text-align: center;
  padding: 0 0 24px;
}
h2.price s {
  color: rgba(0, 0, 0, 0.6);
}

h3 {
  font-size: 30px;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 20px;
  }
}

.centered {
  text-align: center;
}

.right-align {
  text-align: right;
}

.bigger {
  font-size: 20px;
  line-height: 28px;
}

.btn {
  display: block;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 24px;
  height: 40px;
}
.btn:hover {
  color: #fff;
  background: #1b6f89;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .zoom {
    transition: transform 0.3s;
  }
  .zoom:hover {
    transform: scale(1.035);
  }
}
.price-label {
  position: absolute;
  display: block;
  font-weight: bold;
  background: url(price.png) no-repeat;
  background-size: cover;
  text-align: center;
  top: 2.5%;
  left: 2.5%;
  width: 150px;
  height: 109px;
  line-height: 116px;
  font-size: 24px;
}

.wrap {
  width: 100%;
  padding: 56px 0 0;
}
.wrap .header {
  height: 56px;
  width: 100%;
  position: fixed;
  justify-content: end;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 24px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 100500;
}
.wrap .header .logo {
  position: absolute;
  left: 24px;
  top: 4px;
  text-indent: -9898px;
  overflow: hidden;
  display: block;
  height: 48px;
  width: 120px;
  background: url("logo.svg");
  background-size: cover;
}
.wrap .header .nav {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  display: flex;
  gap: 4px;
}

.main-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  background-image: url(mai-img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
  position: relative;
}
.main-img:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 600px) {
  .main-img {
    height: 480px;
    margin-bottom: 24px;
  }
}
.main-img .img-title {
  background-image: url(home-img.png);
  background-size: cover;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .main-img .img-title {
    width: 360px;
    height: 360px;
  }
}
.main-img .img-title h1 {
  font-size: 64px;
  letter-spacing: 8px;
  text-align: center;
  line-height: 100%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  padding: 0;
}
@media screen and (max-width: 600px) {
  .main-img .img-title h1 {
    font-size: 48px;
    padding: 0 16px;
  }
}
.main-img .img-title h1 small {
  display: block;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 600px) {
  .main-img .img-title h1 small {
    font-size: 20px;
  }
}

.main-product-img {
  margin: 0;
  padding: 0 0 48px;
  width: 100%;
}
.main-product-img img {
  display: block;
  width: 100%;
}

main .content {
  padding: 40px 24px;
  max-width: 1440px;
  margin: 0 auto;
}
main .product-description {
  padding: 0 0 48px;
}
@media screen and (max-width: 1024px) {
  main .product-description {
    padding-bottom: 24px;
  }
}
main .section {
  padding: 0 0 96px;
  display: flex;
  gap: 48px;
  align-items: center;
}
main .section.single {
  justify-content: center;
  gap: 0;
}
main .section.single .item iframe {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  main .section {
    padding: 0 0 48px;
  }
}
@media screen and (max-width: 1024px) {
  main .section {
    flex-direction: column;
    padding: 0 0 24px;
    gap: 24px;
  }
  main .section.flex-reverse {
    flex-direction: column-reverse;
  }
}
main .section.a-p {
  padding-top: 48px;
}
@media screen and (max-width: 1024px) {
  main .section.a-p {
    padding-top: 24px;
  }
}
main .section .item {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  main .section .item {
    width: 100%;
  }
}
main .section .centered_item {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  main .section .centered_item {
    width: 100%;
  }
}
main .section figure {
  margin: 0;
}
main .section figure.img-p {
  padding: 48px;
}
@media screen and (max-width: 1024px) {
  main .section figure.img-p {
    padding: 0 0 24px;
  }
}
main .section figure.section-img {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  main .section figure.section-img {
    width: 100%;
  }
}
main .section figure.section-img img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
main .section.inner-product .item {
  width: 30%;
}
@media screen and (max-width: 1024px) {
  main .section.inner-product .item {
    width: 100%;
  }
}
main .section.inner-product figure.section-img {
  width: 70%;
}
@media screen and (max-width: 1024px) {
  main .section.inner-product figure.section-img {
    width: 100%;
  }
}
main .products {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 48px;
}
@media screen and (max-width: 600px) {
  main .products {
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  main .products {
    padding-bottom: 24px;
  }
}
main .products .product-card {
  max-width: 23%;
  width: 100%;
  position: relative;
  display: block;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 1024px) {
  main .products .product-card {
    max-width: 47%;
  }
}
@media screen and (max-width: 600px) {
  main .products .product-card {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  main .products .product-card {
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 1024px) {
  main .products .product-card:hover {
    box-shadow: -1px 1px 5px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  main .products .product-card:hover .price-label {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
}
main .products .product-card figure {
  margin: 0;
}
main .products .product-card figure img {
  display: block;
  width: 100%;
}
main .products .product-card h2 {
  text-align: center;
  font-weight: normal;
  padding: 0 16px 16px;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  main .products .product-card h2 {
    font-size: 24px;
  }
}
main .footer-wrapper {
  width: 100%;
}
main .footer-wrapper .footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 24px;
}
main .footer-wrapper .footer.between {
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  main .footer-wrapper .footer.between {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  main .footer-wrapper .footer {
    padding: 16px;
  }
}
main .footer-wrapper .dark-footer {
  color: rgba(255, 255, 255, 0.8);
  background-color: #777;
  align-items: start;
}
main .footer-wrapper .dark-footer p {
  padding: 0;
}
@media screen and (max-width: 600px) {
  main .footer-wrapper .dark-footer p {
    padding: 0 0 16px;
  }
}
main .footer-wrapper .dark-footer a {
  color: rgba(255, 255, 255, 0.8);
}
main .footer-wrapper .light-footer {
  justify-content: space-between;
}
main .footer-wrapper .light-footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 8px;
}

.textwidget {
  min-width: 181px;
}
.textwidget h3 {
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: normal;
}
.textwidget ul {
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 600px) {
  .textwidget {
    width: 100%;
  }
}

.reviews {
  padding: 0 0 48px;
}
@media screen and (max-width: 1024px) {
  .reviews {
    padding: 0 0 24px;
  }
}
.reviews .reviews-row {
  display: flex;
  gap: 48px;
}
@media screen and (max-width: 1024px) {
  .reviews .reviews-row {
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
}
.reviews .reviews-row .review {
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .reviews .reviews-row .review {
    width: 33%;
  }
}
@media screen and (max-width: 720px) {
  .reviews .reviews-row .review {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .reviews .reviews-row .review {
    width: 100%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}/*# sourceMappingURL=styles.css.map */