@import "scss/normalize";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 360px;
}
.skip-link {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  left: -9898px;
  text-indent: -9898px !important;
  display: block !important;
  overflow: hidden;
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

a {
  color: #3093b1;
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    transition: all 0.25s;
    &:hover {
      text-decoration: underline;
      color: #1b6f89;
      transform: scale(1.035);
    }
  }
  &.social {
    display: block;
    @media screen and (min-width: 1024px) {
      transition: all 0.25s;
      &:hover {
        transform: scale(1.035);
      }
    }
    svg,
    img {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &.buy-bnt {
    background: #3093b1;
    text-decoration: none;
    border-radius: 20px;
    height: 40px;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    width: 240px;
    margin: 0 auto 24px;
    text-align: center;
    @media screen and (min-width: 1024px) {
      &:hover {
        text-decoration: none;
        color: #fff;
        transform: scale(1.035);
        background-color: #1b6f89;
        -webkit-box-shadow: -1px 1px 2px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -1px 1px 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 1px 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
p {
  padding: 0 0 24px;
}
h1,
h2,
h3 {
  padding: 0 0 24px;
  line-height: 110%;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  padding-bottom: 48px;
  @media screen and (max-width: 1024px) {
    font-size: 48px;
    padding-bottom: 24px;
  }
  &.prod-title {
    font-size: 48px;
    @media screen and (max-width: 1024px) {
      font-size: 28px;
    }
  }
}

h2 {
  font-size: 40px;
  @media screen and (max-width: 1024px) {
    font-size: 28px;
    text-align: center;
  }
  &.price {
    font-size: 32px;
    text-align: center;
    padding: 0 0 24px;
    s {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

h3 {
  font-size: 30px;
  @media screen and (max-width: 1024px) {
    font-size: 20px;
  }
}

.centered {
  text-align: center;
}
.right-align {
  text-align: right;
}

.btn {
  display: block;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 24px;
  height: 40px;
  &:hover {
    color: #fff;
    background: #1b6f89;
    text-decoration: none;
  }
}
@media screen and (min-width: 1024px) {
  .zoom {
    transition: transform 0.3s;
  }

  .zoom:hover {
    transform: scale(1.035);
  }
}
.price-label {
  position: absolute;
  top: 5%;
  left: 5%;

  display: block;
  width: 200px;
  height: 146px;
  line-height: 154px;
  font-weight: bold;
  font-size: 32px;
  background: url(price.png) no-repeat;
  background-size: cover;
  text-align: center;
  @media screen and (max-width: 600px) {
    top: 2.5%;
    left: 2.5%;
    width: 150px;
    height: 109px;
    line-height: 116px;
    font-size: 24px;
  }
}
//
.wrap {
  width: 100%;
  padding: 56px 0 0;
  .header {
    height: 56px;
    width: 100%;
    position: fixed;
    justify-content: end;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 24px;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 100500;
    .logo {
      position: absolute;
      left: 24px;
      top: 4px;
      text-indent: -9898px;
      overflow: hidden;
      display: block;
      height: 48px;
      width: 120px;
      background: url("logo.svg");
      background-size: cover;
    }
    .nav {
      margin: 0;
      padding: 8px 0;
      list-style: none;
      display: flex;
      gap: 4px;
    }
  }
}

//
.main-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  background-image: url(mai-img.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 48px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 600px) {
    height: 480px;
    margin-bottom: 24px;
  }
  .img-title {
    background-image: url(home-img.png);
    background-size: cover;
    width: 560px;
    height: 560px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #fff;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 600px) {
      width: 360px;
      height: 360px;
    }
    h1 {
      font-size: 64px;
      letter-spacing: 8px;
      text-align: center;
      line-height: 100%;
      text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
      padding: 0;
      @media screen and (max-width: 600px) {
        font-size: 48px;
        padding: 0 16px;
      }
      small {
        display: block;
        font-size: 24px;
        line-height: 120%;
        @media screen and (max-width: 600px) {
          font-size: 20px;
        }
      }
    }
  }
}
//
main {
  .content {
    padding: 40px 24px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .product-description {
    padding: 0 0 48px;
    @media screen and (max-width: 1024px) {
      padding-bottom: 24px;
    }
  }
  .section {
    padding: 0 0 48px;
    display: flex;
    gap: 48px;
    align-items: center;
    &.single {
      justify-content: center;
      gap: 0;
      .item {
        iframe {
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      &.flex-reverse {
        flex-direction: column-reverse;
      }
      padding-bottom: 24px;
      gap: 24px;
    }
    &.a-p {
      padding-top: 48px;
      @media screen and (max-width: 1024px) {
        padding-top: 24px;
      }
    }
    .item {
      width: 50%;
      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }
    figure {
      margin: 0;
      &.img-p {
        padding: 48px;
        @media screen and (max-width: 1024px) {
          padding: 0 0 24px;
        }
      }
      &.section-img {
        width: 50%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    &.inner-product {
      .item {
        width: 30%;
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      figure {
        &.section-img {
          width: 70%;
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
      }
    }
  }
  .products {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 48px;
    @media screen and (max-width: 860px) {
      flex-direction: column;
    }
    @media screen and (max-width: 1024px) {
      gap: 24px;
      padding-bottom: 24px;
    }
    .product-card {
      max-width: 47%;
      width: 100%;
      position: relative;
      @media screen and (max-width: 860px) {
        max-width: 100%;
      }
      display: block;
      padding: 16px;
      background: #fff;
      border-radius: 8px;
      color: rgba(0, 0, 0, 0.9);
      @media screen and (max-width: 1024px) {
        border: 1px solid rgba(0, 0, 0, 0.15);
      }
      @media screen and (min-width: 1024px) {
        &:hover {
          -webkit-box-shadow: -1px 1px 5px 10px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: -1px 1px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 5px 10px rgba(0, 0, 0, 0.2);
          text-decoration: none;
          .price-label {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
          }
        }
      }
      figure {
        margin: 0;
        img {
          display: block;
          width: 100%;
        }
      }
      h2 {
        text-align: center;
        font-weight: normal;
        padding: 0 16px 16px;
        font-size: 32px;
        @media screen and (max-width: 1024px) {
          font-size: 28px;
        }
      }
    }
  }
  .footer-wrapper {
    width: 100%;
    .footer {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 16px 24px;
      @media screen and (max-width: 1024px) {
        padding: 16px;
      }
    }
    .dark-footer {
      color: rgba(255, 255, 255, 0.8);
      background-color: #777;
      p {
        padding: 0;
      }
    }
    .light-footer {
      justify-content: space-between;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        gap: 8px;
      }
    }
  }
}

.reviews {
  padding: 0 0 48px;
  @media screen and (max-width: 1024px) {
    padding: 0 0 24px;
  }
  .reviews-row {
    display: flex;
    gap: 48px;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 24px;
      justify-content: center;
    }
    .review {
      width: 20%;
      @media screen and (max-width: 1024px) {
        width: 33%;
      }
      @media screen and (max-width: 720px) {
        width: 50%;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
